<div
  *ngIf="
    !route.snapshot.queryParamMap.get('name') ||
    !gameState.getValue().hasStarted
  "
  [ngStyle]="{
    maxWidth: '960px',
    margin: '0 auto',
    width: '95vw',
    minHeight: '100vh',
    padding: '48px'
  }"
>
  <nz-page-header>
    <nz-page-header-title>Game room</nz-page-header-title>
    <nz-page-header-subtitle
      >id:
      {{ route.snapshot.paramMap.get('gameId') }}
      • name:
      {{ route.snapshot.queryParamMap.get('name') }}
    </nz-page-header-subtitle>
  </nz-page-header>
  <div [ngStyle]="{ padding: '0 24px' }">
    <h5 nz-typography [ngStyle]="{ marginBottom: '24px' }">
      <i nz-icon nzType="sync" nzSpin [ngStyle]="{ marginRight: '8px' }"></i>
      Waiting for players...
    </h5>
    <div
      fxLayout="row wrap"
      fxLayoutGap="8px"
      [ngStyle]="{ marginBottom: '24px' }"
    >
      <nz-card
        *ngFor="
          let player of gameState.getValue().players;
          let playerIndex = index
        "
        [ngStyle]="{ marginBottom: '8px' }"
        class="u-display-block"
        nzSize="small"
        fxFlex="24%"
      >
        <p nz-typography [nzDisabled]="true">Player {{ playerIndex + 1 }}</p>
        <h5 nz-typography [ngStyle]="{ marginTop: 0 }">{{ player }}</h5>
      </nz-card>
    </div>
    <div>
      <button
        nz-button
        nzSize="large"
        nzType="primary"
        [disabled]="
          gameState.getValue().players[0] !==
          route.snapshot.queryParamMap.get('name')
        "
        (click)="renewGame()"
      >
        Start game
      </button>
    </div>
  </div>
</div>
<div
  *ngIf="
    !!route.snapshot.queryParamMap.get('name') &&
    gameState.getValue().hasStarted
  "
  [ngStyle]="{
    maxWidth: '960px',
    margin: '0 auto',
    width: '95vw',
    minHeight: '100vh'
  }"
  fxLayout="column"
  fxLayoutAlign="space-between start"
  cdkDropListGroup
>
  <div [ngStyle]="{ width: '100%' }">
    <nz-page-header>
      <nz-page-header-title>Game room</nz-page-header-title>
      <nz-page-header-subtitle
        >id:
        {{ route.snapshot.paramMap.get('gameId') }}
        • name:
        {{ route.snapshot.queryParamMap.get('name') }}
      </nz-page-header-subtitle>
      <nz-page-header-extra>
        <button nz-button (click)="openTemplate()">Scoreboard</button>
      </nz-page-header-extra>
    </nz-page-header>
    <div [ngStyle]="{ padding: '0 24px', width: '100%' }" fxLayout="row">
      <div fxFlex="calc(50% - 1px)">
        <div
          fxLayout="row"
          fxLayoutGap="16px"
          [ngStyle]="{ marginBottom: '24px' }"
        >
          <div>
            Deck -
            <span style="color: #a8a8a8">
              {{ gameState.getValue().deck.length }} cards</span
            >
          </div>
          <div>
            Discard -
            <span style="color: #a8a8a8">
              {{ gameState.getValue().discard.length }} cards
            </span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <div
            *ngFor="
              let cardChunk of playerCardChunks.getValue();
              let chunkIndex = index
            "
          >
            <div
              *ngFor="
                let cards of cardChunk | slice: 0:5;
                let playerIndex = index
              "
              [ngStyle]="{ marginBottom: '16px' }"
            >
              <p [ngStyle]="{ marginBottom: '8px' }">
                <span
                  *ngIf="
                    playerIndex + chunkIndex * 5 ===
                    gameState.getValue().currentPlayer
                  "
                >
                  👉
                </span>
                <b>
                  {{
                    gameState.getValue().players[playerIndex + chunkIndex * 5]
                  }}
                </b>
              </p>
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="-48px"
              >
                <app-card
                  *ngFor="let card of cards"
                  [card]="card"
                  size="small"
                  [hidden]="true"
                >
                </app-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="50%">
        <div
          fxLayout="row"
          fxLayoutGap="16px"
          [ngStyle]="{
            marginBottom: '24px'
          }"
        >
          <div>Gameplay</div>
        </div>
        <div
          [ngStyle]="{
            border: '1px solid #D3D3D3',
            borderRadius: '4px',
            padding: '16px',
            marginBottom: '16px'
          }"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <div fxFlex="76px">
              <p [ngStyle]="{ marginBottom: '4px' }">Deck</p>
              <div
                [ngStyle]="{
                  padding: '16px 8px',
                  border: '1px solid #D3D3D3',
                  minHeight: '106px',
                  borderRadius: '4px'
                }"
                cdkDropList
                #deck="cdkDropList"
                id="deck"
                [cdkDropListData]="gameState.getValue().deck"
                [cdkDropListConnectedTo]="[playerHandList]"
                class="example-list"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
                fxLayout="row"
                fxLayoutGap="-200px"
                [cdkDropListEnterPredicate]="isPhase('')"
              >
                <app-card
                  *ngFor="
                    let card of gameState.getValue().deck;
                    let cardIndex = index
                  "
                  class="u-display-block"
                  [card]="card"
                  [hidden]="true"
                  [hideShadow]="true"
                  size="small"
                  cdkDrag
                  [cdkDragDisabled]="
                    'draw' !== gameState.getValue().currentPlayerTurn.mode
                  "
                >
                </app-card>
              </div>
            </div>
            <div fxFlex="100%">
              <p [ngStyle]="{ marginBottom: '4px' }">Discard</p>
              <div
                [ngStyle]="{
                  padding: '16px',
                  border: '1px solid #D3D3D3',
                  minHeight: '106px',
                  borderRadius: '4px'
                }"
                cdkDropList
                #discardPickupList="cdkDropList"
                [cdkDropListData]="gameState.getValue().discard[0]"
                [cdkDropListConnectedTo]="[playerHandList]"
                class="example-list"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
                fxLayout="row"
                fxLayoutGap="8px"
                [cdkDropListEnterPredicate]="isPhase('')"
                id="discard"
              >
                <app-card
                  *ngFor="
                    let card of gameState.getValue().discard[0] as discardPile;
                    let cardIndex = index
                  "
                  class="u-display-block"
                  [card]="card"
                  [hideShadow]="true"
                  size="small"
                  cdkDrag
                  [ngStyle]="{
                    opacity:
                      0 !== cardIndex && discardPile?.length - 1 !== cardIndex
                        ? '.3'
                        : '1'
                  }"
                  [cdkDragDisabled]="
                    (0 !== cardIndex &&
                      discardPile?.length - 1 !== cardIndex) ||
                    'draw' !== gameState.getValue().currentPlayerTurn.mode
                  "
                >
                </app-card>
              </div>
            </div>
          </div>
        </div>
        <div
          [ngStyle]="{
            maxHeight: '350px',
            overflowY: 'hidden',
            border: '1px solid #D3D3D3',
            borderRadius: '4px',
            padding: '24px 16px 0'
          }"
          class="u-showScrollBar"
          [ngClass]="{
            'background-blink':
              you === gameState.getValue().currentPlayer &&
              gameState.getValue().hasStarted
          }"
        >
          <div
            *ngIf="!!gameState.getValue().logs?.length"
            [ngStyle]="{ marginBottom: '8px', color: '#717171' }"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="4px"
          >
            <span
              >Previous:
              {{
                gameState.getValue().players[
                  getPreviousPlayerIndex(
                    gameState.getValue().currentPlayer,
                    gameState.getValue().players.length
                  )
                ]
              }}
              dropped</span
            >
            <app-card-label
              class="u-display-block"
              [cards]="gameState.getValue().logs[0].discard"
            ></app-card-label>
            <span>, Picked up </span>
            <app-card-label
              *ngIf="'deck' !== gameState.getValue().logs[0].pickup.origin"
              class="u-display-block"
              [cards]="[gameState.getValue().logs[0].pickup.card]"
            ></app-card-label
            ><span>from</span
            ><span [ngStyle]="{ textDecoration: 'underline' }">
              {{ gameState.getValue().logs[0].pickup.origin }}</span
            >.
          </div>
          <div [ngStyle]="{ marginBottom: '16px' }">
            <nz-alert
              [nzType]="
                gameState.getValue().currentPlayer !== you ? 'info' : 'success'
              "
              [nzMessage]="
                'NOW: ' +
                gameState.getValue().players[
                  gameState.getValue().currentPlayer
                ] +
                '\'s turn'
              "
              nzShowIcon
            ></nz-alert>
          </div>
          <nz-timeline>
            <nz-timeline-item
              [nzDot]="
                'discard' === gameState.getValue().currentPlayerTurn.mode
                  ? inProgressDotTemplate
                  : completedDotTemplate
              "
              [nzColor]="
                'discard' === gameState.getValue().currentPlayerTurn.mode
                  ? 'green'
                  : 'gray'
              "
            >
              <p [ngStyle]="{ marginBottom: '8px' }">
                <ng-container
                  *ngIf="you === gameState.getValue().currentPlayer"
                >
                  First... discard card(s) below 👇
                </ng-container>
                <ng-container
                  *ngIf="you !== gameState.getValue().currentPlayer"
                >
                  Their discard will show below 👇
                </ng-container>
              </p>
              <div
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutAlign="start center"
                [ngStyle]="{
                  marginBottom: '16px',
                  padding: '16px',
                  border: '1px solid #D3D3D3',
                  minHeight: '106px'
                }"
                cdkDropList
                #dropZoneList="cdkDropList"
                id="dropzone"
                [cdkDropListData]="gameState.getValue().dropZone"
                [cdkDropListConnectedTo]="[playerHandList]"
                class="example-list color-bg-green--onHover"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="isPhase('discard')"
              >
                <app-card
                  *ngFor="
                    let card of gameState.getValue().dropZone;
                    let cardIndex = index
                  "
                  class="u-display-block"
                  [card]="card"
                  size="small"
                  cdkDrag
                  [cdkDragDisabled]="gameState.getValue().isDropZoneConfirmed"
                >
                </app-card>
              </div>
              <div
                *ngIf="you === gameState.getValue().currentPlayer"
                fxLayout="row"
                fxLayoutGap="8px"
                [ngStyle]="{ marginBottom: '8px' }"
              >
                <button
                  nz-button
                  nzType="default"
                  nzSize="small"
                  [disabled]="
                    !isDiscardValid(
                      gameState.getValue().dropZone,
                      gameState.getValue().playerCards[
                        gameState.getValue().currentPlayer
                      ]
                    ) || gameState.getValue().isDropZoneConfirmed
                  "
                  (click)="lockDropZone()"
                >
                  <i
                    *ngIf="gameState.getValue().isDropZoneConfirmed"
                    nz-icon
                    nzType="check-circle"
                  ></i>
                  <span *ngIf="!gameState.getValue().isDropZoneConfirmed">
                    Confirm drop
                  </span>
                  <span *ngIf="gameState.getValue().isDropZoneConfirmed">
                    Confirmed
                  </span>
                </button>
              </div>
            </nz-timeline-item>
            <nz-timeline-item
              [nzDot]="
                'draw' === gameState.getValue().currentPlayerTurn.mode
                  ? inProgressDotTemplate
                  : incomingDotTemplate
              "
              [nzColor]="
                'draw' === gameState.getValue().currentPlayerTurn.mode
                  ? 'green'
                  : 'gray'
              "
            >
              <p>
                <ng-container
                  *ngIf="you === gameState.getValue().currentPlayer"
                >
                  Next... pick a card from the deck or the discard pile.
                </ng-container>
                <ng-container
                  *ngIf="you !== gameState.getValue().currentPlayer"
                >
                  Choosing to pick up from the deck or the discard pile.
                </ng-container>
              </p>
            </nz-timeline-item>
          </nz-timeline>
          <ng-template #incomingDotTemplate>
            <i nz-icon nzType="hourglass" style="font-size: 16px"></i>
          </ng-template>
          <ng-template #inProgressDotTemplate>
            <i nz-icon nzType="sync" style="font-size: 16px" nzSpin></i>
          </ng-template>
          <ng-template #completedDotTemplate>
            <i nz-icon nzType="check-circle" style="font-size: 16px"></i>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div
    [ngStyle]="{ padding: '24px 0', width: '100%' }"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div>
      <!--      <div [ngStyle]="{ marginBottom: '8px' }">-->
      <!--        <nz-radio-group [(ngModel)]="currentPlayer" nzSize="small">-->
      <!--          <label-->
      <!--            *ngFor="-->
      <!--              let player of playerCards.getValue();-->
      <!--              let playerIndex = index-->
      <!--            "-->
      <!--            nz-radio-button-->
      <!--            [nzValue]="playerIndex"-->
      <!--            >Player {{ playerIndex + 1 }}</label-->
      <!--          >-->
      <!--        </nz-radio-group>-->
      <!--      </div>-->
      <div
        fxLayout="row"
        fxLayoutGap="8px"
        fxLayoutAlign="center center"
        [ngStyle]="{
          marginBottom: '16px',
          padding: '8px',
          minWidth: '350px',
          height: '100px',
          border: '1px solid #D3D3D3',
          borderRadius: '4px',
          width: '100%'
        }"
        cdkDropList
        #playerHandList="cdkDropList"
        [cdkDropListData]="gameState.getValue().playerCards[you]"
        [cdkDropListConnectedTo]="[dropZoneList, discardPickupList]"
        class="example-list"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
      >
        <app-card
          fxFlex="0 0 56px"
          *ngFor="
            let card of gameState.getValue().playerCards[you];
            let cardIndex = index
          "
          [card]="card"
          cdkDrag
          size="small"
          [hidden]="!!route.snapshot.queryParamMap.get('hideCards')"
        >
        </app-card>
      </div>
      <div
        *ngIf="
          !!gameState.getValue().playerCards.length &&
          !route.snapshot.queryParamMap.get('hideCards')
        "
        fxLayout="row"
        fxLayoutGap="8px"
        fxLayoutAlign="space-between center"
      >
        <p>
          Your hand (Value:
          {{ calculateHandValue(gameState.getValue().playerCards[you]) }})
        </p>
        <button
          nz-button
          nzType="default"
          [disabled]="
            winningThreshold <
              calculateHandValue(gameState.getValue().playerCards[you]) ||
            !!gameState.getValue().dropZone.length ||
            you !== gameState.getValue().currentPlayer
          "
          (click)="callGame()"
        >
          yaniv!
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #scoreDrawerTemplate let-data let-drawerRef="drawerRef">
  <nz-alert
    *ngIf="data?.calledGame"
    nzType="info"
    [nzMessage]="data.calledGame + ' called yaniv!'"
    nzShowIcon
    [ngStyle]="{ marginBottom: '16px' }"
  ></nz-alert>
  <nz-table
    #basicTable
    [nzData]="data?.scoreboard"
    [nzShowPagination]="false"
    nzSize="small"
  >
    <thead>
      <tr>
        <th>Player</th>
        <th
          *ngFor="
            let round of basicTable.data[0]?.scoreboard.scores;
            let roundIndex = index
          "
        >
          Round {{ roundIndex + 1 }}
        </th>
        <th [nzSortFn]="sortBy" nzSortOrder="descend">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableData of basicTable?.data; let playerIndex = index">
        <td>{{ tableData.name }}</td>

        <td
          *ngFor="
            let score of tableData.scoreboard.scores;
            let roundIndex = index
          "
          [ngStyle]="{
            backgroundColor: !tableData.scoreboard.isLowestInRound[roundIndex]
              ? '#f0f0f0'
              : '#C1F7DC'
          }"
        >
          <span>
            {{ tableData.scoreboard.handValues[roundIndex] }}
            <span
              *ngIf="
                0 !==
                tableData.scoreboard.scores[roundIndex] -
                  tableData.scoreboard.handValues[roundIndex]
              "
            >
              (<span [ngStyle]="{ color: '#ff7875' }"
                >+{{
                  tableData.scoreboard.scores[roundIndex] -
                    tableData.scoreboard.handValues[roundIndex]
                }}</span
              >)
            </span>
          </span>
        </td>
        <td>
          {{ tableData.scoreboard.total }}
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div [ngStyle]="{ padding: '16px 0' }">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Advanced options">
        <p [ngStyle]="{ paddingBottom: '8px' }">
          Someone reach 100 yet? Wanna reset?
        </p>
        <button
          nz-button
          (click)="setGameAsNotStarted(); drawerRef.close()"
          [disabled]="you !== 0"
        >
          <i nz-icon nzType="sync"></i>
          Reset game
        </button>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</ng-template>
<div
  *ngIf="!route.snapshot.queryParamMap.get('name')"
  [ngStyle]="{
    maxWidth: '960px',
    margin: '0 auto',
    padding: '48px',
    width: '95vw',
    minHeight: '100vh'
  }"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h5 nz-typography [ngStyle]="{ marginBottom: '16px' }">
      Something is wrong. Go back home and try again.
    </h5>
    <a [routerLink]="['/lobby']" nz-button nzType="primary">Go home</a>
  </div>
</div>
